@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --blue: #103cbe;
    --gray: #bbbbbb;
}


button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 100%;
  border-radius: 40px;
  background: #fff;
  border: 2px solid var(--blue);
  color: var(--blue);
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    color: white;
    background: var(--blue);
  }

  &:active {
    letter-spacing: 2px;
  }

  &:after {
    content: "Kirim";
  }
}

.onclic {
  width: 40px;
  border-color: var(--gray);
  border-width: 3px;
  font-size: 0;
  border-left-color: var(--blue);
  animation: rotating 2s 0.25s linear infinite;


  &:after {
    content: "";
  }

  &:hover {
    color: var(--blue);
    background: white;
  }
}

.validate {
  font-size: 13px;
  color: white;
  background: var(--blue);

  &:after {
    font-family: FontAwesome;
    content: "\f00c";
    font-size: 20px;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*------------ Login container ------------*/


/*------------ Right box ------------*/


/*------------ Custom Placeholder ------------*/


/*------------ For small screens------------*/

